body{
  background-color: #082F3D;
}
.header-logo{
  margin: 15px;
}
.header-stuff{
  text-align: left;
  flex-grow: 1;
}
header{
  background-color: #357B8E;
  border-radius: 10px;
  margin: 10px;
}
.header{
  background-color: #357B8E;
  color: white;
  text-align: left;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
.navbar-menu{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 10px;
}
.navbar-links{
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}
.navbar-links a{
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  justify-content: space-between;
}
.navbar-links a:hover,.navbar-links a:focus{
  background-color: #B4BF5D;
  }
.main-content{
  display: flex;
  flex-direction: row;
  background-color: #592521;
  color: white;
  border-radius: 5px;
}
.headshot-content{
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}
.headshot{
  display: flex;
  align-items: center;
}
.headshot-img{
  max-width: 200px;
  height: auto;
  margin-right: 20px;
}
.education{
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
}
.education li{
  margin: 15px;
}
.edu-logo{
text-align: center;
}
.edu-logo a{
  text-decoration: none;
  color: white;
  margin: 15px;
}
footer{
  display: flex;
  justify-content: center;
}