body{
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header{
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  font-family: Mali;
}
.header-logo{
  width: 350px;
  height: 200px;
}
.header-text{
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Aclonica", sans-serif;
}
.header-text a{
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  display: flex;
  justify-items: flex-end;
}
.navbar{
  width: 100%;
}
.navbar-menu{
  display: flex;
  flex-direction: column;
}
.navbar-links{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-links li{
  margin: 0.5em;
  border: 4px;
}
.navbar-links a{
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
}
.navbar-links a:hover,.navbar-links a:focus{
background-color: #92169E;
}
.spotlight{
  height: 200px;
}
.spotlight-img{
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spotlight-text{
  color: #fff;
  font-size: 2em;
  text-align: center;
}
.aside{
  display: flex;
  display: block;
  justify-content: center;
  align-items: left;
  margin: 5px;
  padding: 10px 20px;
  flex-basis: 20%;
  background-color: #7E7E7F;
  border-radius: 5px;
}
.aside-left{
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
aside p{
  color: black;
  line-height: 2.5em;
  font-family: "Oswald", sans-serif;
}
h2{
  text-align: center;
}
main {
  flex-grow: 1;
  padding: 10px 20px;
  background-color: #F27803;
  flex-basis: 80%;
  border-radius: 5px;
}
.container {
  margin-bottom: 2em;
}
.food-product{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  border: #333;
}
.merch-product {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
.food{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.merch{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  justify-content: center;
}
.food-img{
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  align-items: center;
}
.merch-img{
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  align-items: center;
}
.merch-name, .food-name{
  color: black;
  font-family: fantasy;
  letter-spacing: 1px;
  margin: 5px;
}
.merch-price, .food-price{
  color: black;
  font-family: fantasy;
  letter-spacing: 1px;
  margin: 5px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}
.merchandise{
  flex-direction: row;
}
.above-container{
 display: flex;
 flex-direction: row;
 align-items: center;
}
.above-container p{
  border-radius: 5px;
  background-color: #7E7E7F;
  color: black;
  font-family: "Oswald", sans-serif;
  padding: 10px 20px;
  margin: 10px;
}
@media screen and (max-width: 600px){
  .navbar-links, .food-product, .merch-product{
    flex-direction: column;
  }
  .aside{
    order: 1;
    width: 100%;
  }
  main{
    order: 2;
    width:100%;
  }
  .aside-left{
    flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  .navbar-links,.food-product, .merch-product{
    flex-direction: column;
  }
  .aside{
    order: 1;
    width: 100%;
  }
  main{
    order: 2;
    width:100%;
  }
  .aside-left{
    flex-direction: column;
  }
}