
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: black;
}

header img{
  height: 100px;
  width: 100px;
}

body{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #9396D1;
}

main{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
}

h2{
  text-align: center;
  margin: 30px;
}

.d-flex{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
  max-width: 1200px;
}

form{
  flex: 1;
  max-width: 400px;
}

form button{
  margin: 15px;
}

/* CALENDER */

.event{
  background-color: white;
}
.event-container {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  flex: 2;
  margin-left: 20px;
}

.event-container h3.year {
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid #b1b1b1;
}

.event-container .event {
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 8px;
  margin: 32px 0;
}

.event .event-left {
  background: #222;
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}

.event .event-left .date {
  font-size: 56px;
}

.event .event-left .year {
  font-size: 16px;
  font-weight: normal;
}

.event .event-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.event .event-right h3.event-title {
  font-size: 24px;
  margin: 24px 0 10px 0;
  color: #218bbb;
  text-transform: uppercase;
}

.event .event-right .event-timing {
  background: #fff8ba;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 8px;
  border-radius: 16px;
  margin: 24px 0;
  font-size: 14px;
}

.event .event-right .event-timing img {
  height: 20px;
  padding-right: 8px;
}

footer{
  position: fixed;
  bottom: 0; 
  right: 0; 
  text-align: right;
  padding: 10px;
  background-color: #f8f9fa;
  width: auto;
}