@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#carouselExampleControls {
  width: 100%; /* Adjust the width as needed */
  max-width: 700px;
  margin: auto; /* Center the carousel */
}

.carousel-inner {
  height: 450px; /* Set a fixed height for the carousel */
}

.carousel-item img {
  width: 100%; /* Make the image take up the full width */
  height: 100%; /* Ensure the image takes up the full height */
  object-fit: contain; /* Maintain aspect ratio while covering the area */
}


.photo-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.photo{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}
.photo-img{
  width: 100%;
  height: 200px;
  flex-grow: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;  
}