body{
  margin: 0;
}
header{
  background-color: #A8BFBB;
}
.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
}
.navbar-link{
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #555;
  border-radius: 5px;
}
.navbar .navbar-link:hover{
  background-color: #777;
}
