body{
background-color: #231640;
}
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #14D90D;
}
.header-left{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-left ul{
  margin: 0;
  padding: 0;
}
.navbar-links{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-links li{
  padding: 10px;
}
.navbar-links a{
  text-decoration: none;
  padding: 5px;
  border-radius: 2px;
  background-color: #0B8AD9;
  color: white;
}
.header-logo img{
  width: 350px;
  height: 350px;
  align-items: center;
}
.header-middle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button{
  background-color: #0B8AD9;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
}

/*TOP AND BOTTOM SECTION*/

.top-section, .bottom-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F2275D;
  border-radius: 10px;
  margin: 15px;
  padding: 20px;
  max-width: 300px;
  text-align: center;
}
.round-img{
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
}
.top-section, .bottom-section p{
  font-weight: bold;
}
 main h2{
  color: white;
  text-align: center;
}
footer{
  text-align: center;
  background-color: #14D90D;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .button{
    order: 3;
  }
  .header-middle{
    order: 2;
  }
  .header-right{
    order: 1;
  }
  .navbar-links {
    flex-direction: column;
    gap: 10px;
  }
  .top-section {
    flex-direction: column;
  }
  .bottom-section {
    flex-direction: column;
  }
}

@media (min-width: 600px) and (min-width: 1200px) {
  .bottom-section {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .top-section {
    flex-direction: row;
  }
  .bottom-section {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

