body{
background-color: #231640;
}
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #14D90D;
}
.header-left{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-links{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-links li{
  padding: 5px;
}
.navbar-links a{
  text-decoration: none;
  padding: 5px;
  border-radius: 2px;
  background-color: #0B8AD9;
  color: white;
}
.header-logo img{
  width: 350px;
  height: 350px;
  align-items: center;
}
.header-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button{
  background-color: #0B8AD9;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
}

/*TOP AND BOTTOM SECTION*/

.top-section, .bottom-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background: #F2275D;
  border-radius: 10px;
  padding: 15px;
}
.round-img{
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
}
.top-section, .bottom-section p{
  font-weight: bold;
}
 main h2{
  color: white;
  text-align: center;
}
@media screen and (max-width:600) {
 header{
  flex-direction: column;
 }

}
